body {
    overflow-y: hidden;
    background-image: url('./assets/tela_inicio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

select, button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.tutorial{
    margin-top: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
}
.tutorial img{
    height: 100px;
}
